
@keyframes fadeAnimasi {
    from {
        transform: translateY(-20px);
        opacity: 0; /* Awal transparan */
    }
    to {
        transform: translateY(0);
        opacity: 1; /* Akhir solid */
    }
}

@keyframes fadeAnimasiUp {
    from {
        transform: translateY(20px);
        opacity: 0; /* Awal transparan */
    }
    to {
        transform: translateY(0);
        opacity: 1; /* Akhir solid */
    }
}

@keyframes AnimasiUp {
     to {
        transform: translateY(-20px);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounceIncard {
    0% {
        transform: scale(0);
        opacity: 0; /* Awal transparan */
    }
    70% {
        transform: scale(1);
        opacity: 1; /* Awal transparan */
    }
    100% {
        opacity: 1; /* Akhir solid */
    }
}


/* Header */
.Leanding-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 90vh;
    background-image: url('./../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    min-height: 70vh;
    width: 100%;
    height: 60px;
    color: #ffffff;
    box-sizing: border-box;
}

.form-header{
    display: flex;
    justify-content: center;
    animation: fadeAnimasi 1s ease-in-out;
}

.button-plus, .button-min{
    font-size: 14px;
    background-color: #ffffff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button-plus:hover, .button-min:hover{
    background-color: #f0f0f0;
    
}

.menu-header{
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #ffffff00;
    animation: bounceIn 1s ease-in-out;
}

.menu-header:hover{
    border: 1px solid #ededed;
    border-radius: 25px;
}

.text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: fadeAnimasi 1s ease-in-out;
}

.top-header{
    height: 60px;
    background-color: #00A2AD;
    position: relative;
    top: -70px;
    width: 20%;
    height: 60px;
    border-bottom-left-radius: 40px;
    transform: rotate(-10deg);
    left: 45%;
}

.footer-header{
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* Desa Wisata */
.Leanding-content-desawisata{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 10%;
    box-sizing: border-box;
}

.desawisata-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-desawisata{
    margin: 10px;
    display: flex;
    background-color: #00A2AD;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    width:  calc(33.33% - 20px);
    height: 200px; 
    background-size: cover;
    transition: opacity 0.5s ease; /* Transisi untuk animasi */
    opacity: 0; /* Set opasitas awal ke 0 */
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.card-desawisata img {
    position: absolute; /* Atur posisi absolut untuk elemen gambar */
    top: 0; /* Geser gambar ke atas */
    left: 0; /* Geser gambar ke kiri */
    width: 100%; /* Atur lebar gambar agar sesuai dengan ukuran parent */
    height: 100%; /* Atur tinggi gambar agar sesuai dengan ukuran parent */
    object-fit: cover; /* Jaga proporsi gambar */
    z-index: 1; /* Pastikan gambar berada di bawah teks */
    transition: transform 0.3s ease;
}

.card-desawisata .content-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%; /* Atur lebar gambar agar sesuai dengan ukuran parent */
    height: 200px; /* Atur tinggi gambar agar sesuai dengan ukuran parent */
    background-color: #0000004d;/* Jaga proporsi gambar */
    z-index: 2; /* Pastikan gambar berada di bawah teks */
    transition: transform 0.3s ease;
}

.card-desawisata .content-card div .title-card {
    opacity: 0; /* Set opasitas awal ke 0 */
    transition: opacity 0.5s ease; /* Transisi untuk animasi */
    z-index: 3; /* Pastikan elemen h1 berada di atas elemen gambar */
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-weight: bold;
}

.card-desawisata .content-card div .subtitle-card {
    opacity: 0; /* Set opasitas awal ke 0 */
    transition: opacity 0.5s ease; /* Transisi untuk animasi */
    z-index: 3; /* Pastikan elemen h1 berada di atas elemen gambar */
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 10pt;
}

.card-desawisata.fadeAnimasiUp {
    animation: fadeAnimasiUp 1s ease forwards;
}

.card-desawisata.fadeAnimasiUp .content-card .title-card, .card-desawisata.fadeAnimasiUp .content-card .subtitle-card{
    animation: fadeAnimasiUp 1s ease forwards;
}

.card-desawisata:hover img {
    transform: scale(1.1);
}

/* Wisata */
.cover {
    position: relative;
    padding: 0 10%;
    margin-top: 100px;
}

.left {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    z-index: 1;
}

.right {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    border-radius: 50%;
    right: 9%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
}

.scroll-images {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.child {
    opacity: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    min-width: 272px;
    height: 350px;
    padding: 0px 20px;
    margin: 0px 8px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    transition: transform 0.5s ease, margin-top 0.5s ease;
}

.child.animasi {
    animation: bounceIncard 1s ease forwards;
}

.child:hover {
    transform: translateY(-1px);
    margin-top: -10px;
}

.child img, .child > svg {
    position: absolute;
    margin-top: -195px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background: #03A9F4;
}

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
}
